@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
  --color-bg-default: #fff;
  --color-bg-inverse: #5255ac;

  --color-text-primary: #fff;
  --color-text-secondary: #44467b;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: rgba(255, 255, 255, 0.7);

  --font-display: Futura, Trebuchet MS, Arial, sans-serif;
  --font-body: Georgia, Times, "Times New Roman", serif;

  --font-weight-normal: 400;
  --font-weight-display: 600;
  --font-weight-btn: 600;

  --rounded-btn: 9999px;
}
